@import "mixins";

.card {
  font-size: var(--step--1);

  .card__cap {
    @include aspect-image;
  }
}

.pill {
  font-size: var(--step--1);
  background-color: var(--color-primary);
  padding: var(--space-3xs) var(--space-xs);
  border-radius: 9999px;
}

.pagination {
  svg {
    width: 1.2em;
    height: 1.2em;
  }

  span * {
    opacity: 0.5;
  }
}
