h1,
h2,
h3 {
  font-family: "Fira Sans";
}

h1 {
  font-size: var(--step-3);
  line-height: 1.1;
}

h2 {
  font-size: var(--step-2);
  line-height: 1.1;
}

h3 {
  line-height: 1.2;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 4px;
}
