.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

section:not(:first-of-type) {
  margin-block-start: var(--space-l-xl);
}

.has-icon {
  display: flex;
  align-items: center;
  gap: 0.5em;

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
