---
import Layout from "../components/Layout.astro";
---

<Layout title="Blog" description="" robots="noindex,nofollow">
  <section class="text-center">
    <h1>Blog</h1>
    <div aria-hidden="true" class="text-6xl mt-8">
      🤣
    </div>
    <p>One day... I'll get around to writing something, maybe.</p>
  </section>
</Layout>
