---
import Layout from "../components/Layout.astro";
---

<Layout title="Blog" description="">
  <section class="flow">
    <h1>Blog</h1>
    <p>One day... I'll get around to writing something, maybe.</p>
  </section>
</Layout>
