---
import Layout from "../components/Layout.astro";
---

<Layout title="Contact" description="">
  <section class="flow">
    <h1>Contact Me</h1>

    <form class="flow contact" name="contact" action="/thanks/" data-netlify="true">
      <div>
        <label for="name">Name</label>
        <input id="name" type="text" name="name" required />
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
      </div>
      <div>
        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <button type="submit">Send</button>
    </form>
  </section>
</Layout>
