---
import Layout from "../components/Layout.astro";
import WorkCard from '../components/WorkCard.astro';

const featuredWork = await Astro.glob("./work/*.md").then(res => {
  return res.sort((a,b) => Math.sign(a.frontmatter.order - b.frontmatter.order));
});
---

<Layout title="Welcome" description="I'm Adam and I just so happen to develop things for the web.">
  <section class="flow">
    <h1>Welcome to my little corner of the interwebs.</h1>
    <p>I'm Adam and I just so happen to develop things for the web, but you probably know that. I can't imagine any other reason you'd be looking at my site.</p>
  </section>

  <section class="flow">
    <h2>Tech I use and experiment with</h2>
    <ul role="list" class="cluster" style="--gutter: var(--space-xs)">
      <li>
        <div class="pill">HTML</div>
      </li>
      <li>
        <div class="pill">CSS</div>
      </li>
      <li>
        <div class="pill">JavaScript</div>
      </li>
      <li>
        <div class="pill">PHP</div>
      </li>
      <li>
        <div class="pill">MySQL</div>
      </li>
      <li>
        <div class="pill">Laravel</div>
      </li>
      <li>
        <div class="pill">Tailwind CSS</div>
      </li>
      <li>
        <div class="pill">Alpine.js</div>
      </li>
      <li>
        <div class="pill">11ty</div>
      </li>
      <li>
        <div class="pill">Astro</div>
      </li>
      <li>
        <div class="pill">React</div>
      </li>
      <li>
        <div class="pill">Vue</div>
      </li>
      <li>
        <div class="pill">WordPress</div>
      </li>
    </ul>
  </section>

  {featuredWork.length > 0 && (
    <section class="flow">
      <h2>Some of My Work</h2>
      <ul role="list" class="auto-grid">
        {featuredWork.slice(0,3).map((work) => (
            <li>
              <WorkCard work={work} />
            </li>
          ))}
      </ul>
      <p>
        <a href="/work/">View all work</a>
      </p>
    </section>
  )}
</Layout>
