---
import Layout from "../components/Layout.astro";
---

<Layout title="Thank You" robots="noindex,nofollow">
  <section class="flow">
    <h1>Thank You for your submission. I will get back to you as soon as I can.</h1>
  </section>
</Layout>
