---
import Layout from "../components/Layout.astro";
import WorkCard from "../components/WorkCard.astro";

const allWork = await Astro.glob("./work/*.md").then(res => {
  return res.sort((a,b) => Math.sign(a.frontmatter.order - b.frontmatter.order));
});
---

<Layout title="Work" description="">
  <section class="flow">
    <h1>Things I've coded... <small>and sometimes designed</small></h1>

    <ul role="list" class="auto-grid">
      {allWork.map(item => (
          <WorkCard work={item} />
      ))}
    </ul>
  </section>
</Layout>
